@font-face {
    font-family: 'tstarmono';
    src: url('../fonts/tstarmono.woff2') format('woff2'),
         url('../fonts/tstarmono.woff') format('woff'),
         url('../fonts/tstarmono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'tstarmono', Courier, monospace;
    color: #2B2B2B;
  }
