@font-face {
    font-family: 'tstarmono';
    src: url('../fonts/tstarmono.woff2') format('woff2'),
         url('../fonts/tstarmono.woff') format('woff'),
         url('../fonts/tstarmono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
  font-family: 'tstarmono', Courier, monospace;
  color: #2B2B2B;
  width: 800px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
}

h1 {
  width: 300px;
  float: left;
  margin-left: 40px;
}

p {
  padding: 20px;
  margin: 30px 40px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: grey solid 2px;
  box-shadow: 5px 7px grey;
  clear: both;
}

img {
  position: inline-block;
}

#moneytracker {
  color: white;
  width: 200px;
  font-size: 20px;
  background-color: grey;
  border: white solid 2px;
  box-shadow: 5px 7px white;
  margin: auto;
}

#playagain {
  padding: 10px;
  border-radius: 20px;
  color: #2B2B2B;
  width: 180px;
  font-size: 20px;
  background-color: white;
  border: grey solid 1px;
  float: left;
  margin-left: 210px;
  margin-top: 20px;
}

#playagain:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s;
}

#imgcontainer {
  width: 700px;
  margin: auto;
  padding-top: 60px;
  margin-bottom: -60px;
}

.cups {
  position: relative;
  padding: 0px 10px;
  z-index: 2;
}

#prize {
  position: relative;
  top: -140px;
  z-index: 1;
}

#credit {
  padding-top: 110px;
  font-size: 14px;
}

#main {
  position: absolute;
  right: 10px;
  top: 5px;
  text-decoration: none;
  color: grey;
}

#main:hover {
  color: #2B2B2B;
}
