@font-face {
    font-family: 'tstarmono';
    src: url('../fonts/tstarmono.woff2') format('woff2'),
         url('../fonts/tstarmono.woff') format('woff'),
         url('../fonts/tstarmono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  body {
    font-family: 'tstarmono', Courier, monospace;
    color: #2B2B2B;
    width: 800px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
  }

  p {
    background-color: lemonchiffon;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid black;
  }

  #imgcontainer {
    width: 700px;
    margin: auto;
    padding-top: 30px;
  }

  img {
    position: inline-block;
  }

  .cup {
    padding: 0px 10px;
  }

  #prize {
    position: relative;
    top: -140px;
  }
