@font-face {
    font-family: 'tstarmono';
    src: url('../../fonts/tstarmono.woff2') format('woff2'),
         url('../../fonts/tstarmono.woff') format('woff'),
         url('../../fonts/tstarmono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

body {
  font-family: 'tstarmono', Courier, monospace;
  color: #2B2B2B;
  width: 1200px;
  margin: auto;
  padding-top: 40px;
  text-align: center;
}

h1 {
  margin: auto;
}

p {
  padding: 20px;
  margin: 30px 40px;
  border-radius: 20px;
  background-color: #F0F0F0;
  border: grey solid 2px;
  box-shadow: 5px 7px grey;
}

img {
  position: inline-block;
}

img:hover {
  cursor: pointer;
}

#gamecontainer {
  width: 800px;
  float: left;
}

#resultscontainer {
  width: 250px;
  margin-left: 120px;
  float: left;
}

#moneytracker {
  color: white;
  width: 200px;
  font-size: 20px;
  background-color: grey;
  border: white solid 2px;
  box-shadow: 5px 7px white;
  margin: auto;
}

#playagain {
  padding: 10px;
  border-radius: 20px;
  color: #2B2B2B;
  width: 180px;
  margin: auto;
  font-size: 20px;
  background-color: white;
  border: grey solid 1px;
}

#playagain:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
  transition: background-color .25s, color .25s;
}

#imgcontainer {
  width: 700px;
  margin: auto;
  padding-top: 60px;
  margin-bottom: -60px;
}

.cups {
  position: relative;
  padding: 0px 10px;
  z-index: 2;
}

#prize {
  position: relative;
  top: -140px;
  z-index: 1;
}

#resultsheading {
  font-size: 1.5em;
  font-weight: bold;
  width: 80px;
  margin-top: 30px;
  margin-left: 110px;
  margin-bottom: 10px;
  float:left;
}

#clear {
  width: 30px;
  font-size: 12px;
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 10px;
  float: left;
  color: grey;
}

#clear:hover {
  color: #2B2B2B;
  cursor: pointer;
}

#results {
  width: 250px;
  height: 500px;
  overflow: scroll;
  clear: both;
}

#credit {
  padding-top: 100px;
  font-size: 14px;
  clear: both;
}

#alternate {
  position: absolute;
  right: 10px;
  top: 5px;
  text-decoration: none;
  color: grey;
}

#alternate:hover {
  color: #2B2B2B;
  cursor: pointer;
}

#supercoinmessage {
  position: relative;
  width: 215px;
  bottom: 640px;
  left: 600px;
  z-index: 3;
}
